<%- include('../header') %>

    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Edit Admin</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <form class="form-horizontal" method="post" action="/editAdmin/<%= singleAdmin.id %>"
                            enctype="multipart/form-data">
                            <div class="card-body">
                                <h4 class="card-title">Personal Info</h4>

                                <!-- FirstName -->
                                <div class="form-group row">
                                    <label for="fname" class="col-sm-3 text-right control-label col-form-label">First
                                        Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="fname"
                                            value="<%= singleAdmin.fname %>" id="fname" placeholder="First Name Here">
                                    </div>
                                </div>

                                <!-- Last Name -->
                                <div class="form-group row">
                                    <label for="lname" class="col-sm-3 text-right control-label col-form-label">Last
                                        Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="lname"
                                            value="<%= singleAdmin.lname %>" id="lname" placeholder="Last Name Here">
                                    </div>
                                </div>

                                <!-- Email  -->
                                <div class="form-group row">
                                    <label for="fname"
                                        class="col-sm-3 text-right control-label col-form-label">Email</label>
                                    <div class="col-sm-9">
                                        <input type="email" class="form-control" name="email"
                                            value="<%= singleAdmin.email %>" id="email" placeholder="Email Here">
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="form-group row">
                                    <label for="lname"
                                        class="col-sm-3 text-right control-label col-form-label">Password</label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" name="password"
                                            value="<%= singleAdmin.password %>" id="password"
                                            placeholder="Password Here">
                                    </div>
                                </div>
                                <!-- Contact No  -->
                                <div class="form-group row">
                                    <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Contact
                                        No</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="phone"
                                            value="<%= singleAdmin.phone %>" id="phone" placeholder="Contact No Here">
                                    </div>
                                </div>

                                <!-- Gender -->
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Gender</label>
                                    <div class="col-md-9">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" value="Male"
                                                id="customControlValidation1" name="gender" <%
                                                if(singleAdmin.gender==='Male' ) {%> checked <%}%> required>
                                                <label class="custom-control-label"
                                                    for="customControlValidation1">Male</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" value="Female" <%
                                                if(singleAdmin.gender==='Female' ) {%> checked <%}%>
                                                id="customControlValidation2" name="gender" required>
                                                <label class="custom-control-label"
                                                    for="customControlValidation2">Female</label>
                                        </div>
                                    </div>
                                </div>

                                <!-- Hobby -->
                                <div class="form-group row">

                                    <label class="col-sm-3 text-right control-label col-form-label">Hobby</label>
                                    <div class="col-md-9">
                                        <% ["Reading", "Playing" , "Other" ].map((hobby, index)=> { %>
                                            <div class="custom-control custom-checkbox mr-sm-2">
                                                <input type="checkbox" name="hobby[]" value="<%= hobby%>"
                                                    class="custom-control-input" <%
                                                    if(singleAdmin.hobby.includes(hobby)) {%>
                                                checked <%}%>
                                                    id="customControlAutosizing<%= index+1%>">
                                                        <label class="custom-control-label"
                                                            for="customControlAutosizing<%= index+1%>"></label>
                                                        <%= hobby %>
                                                            </label>
                                            </div>

                                            <% })%>

                                    </div>

                                </div>

                                <!-- City -->
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">City</label>
                                    <div class="col-md-9">
                                        <select class="select2 form-control custom-select" name="city"
                                            style="width: 100%; height:36px;">
                                            <option>Select</option>
                                            <%["Surat", "Baroda" , "Navsari" , "Rajkot" , "Mubai" ].map((city)=> { %>
                                                <option <% if(singleAdmin.city===city ) {%> selected <%}%> value="<%=
                                                            city%>">
                                                            <%= city %>
                                                </option>
                                                <%})%>
                                        </select>
                                    </div>
                                </div>

                                <!-- About -->
                                <div class="form-group row">
                                    <label for="cono1"
                                        class="col-sm-3 text-right control-label col-form-label">About</label>
                                    <div class="col-sm-9">
                                        <textarea class="form-control" name="about"><%= singleAdmin.about %></textarea>
                                    </div>
                                </div>

                                <!-- Profile Image -->
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right control-label col-form-label">Profile
                                        Image</label>
                                    <div class="col-md-9">
                                        <div>
                                            <img src="../<%= singleAdmin.profile_image %>" height="50" alt="">
                                        </div>
                                        <div class="mt-2 custom-file">
                                            <input type="file" name="profile_image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-top">
                                <div class="card-body">
                                    <button type="submit" class="btn btn-warning">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../footer') %>